border-1px($color)
  position : relative
  &:after
    position : absolute
    content:' '
    left: 0px
    bottom: 0px
    width: 100%
    border-top: 1px solid $color
border-none()
  &:after
    display: none

bg-image($w,$h,$url)
  background-image: url($url+'@2x.png')
  background-size: $w $h
  background-repeat: no-repeat
  @media(-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
    background-image: url($url+'@3x.png')